body{
    background-color: black;
    background-image: url(chess board.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-style: italic;
}
h1:hover{
    transform: scale(1.2);

}
td:hover{
    transform:scale(1.2);
}

div:hover{
    transform:scale(1.2);
}
